:root{
	--baseColor:  rgba(0, 0, 0, 0.5);
	--textColor: white;
	--font: font-family: Consolas, monaco, monospace;
}

button{
	font-family: inherit;
	color: inherit;
}

input{
	font-family: inherit;
}

html, body {
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	font-family: Consolas, monaco, monospace; 
}
  
canvas {
	width: 100vw;
	height: 100vh;
	display: block;
}

.base{
	color: var(--textColor);
	position: fixed;
	bottom: 0;
	width:100vw;
	height: 20vh;
	transform: translateY(19vh);
	transition: transform 1s;
	background-color: var(--baseColor);
}

.base:hover{
	transform: translateY(0vh);
	transition: transform 1s;
}

.base-butt{
	color: var(--textColor);
	text-align: center;
	width: 30vmax;
	height: 2vh;
	transform: translateY(-2vh);
	background-color:black;
	margin: 0 auto;
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
}

.base-tab{
	background-color: var(--baseColor);
	width: 10vmax;
}

.base-tab:hover{
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.base-bar{
	border-top: 1vh solid black;
	transform: translateY(-2vh);
	display:flex;
	overflow-x: auto;
}

.edits{
	display: flex;
	flex-wrap:wrap;
	align-content: space-evenly;
}

.inputs{
	font-size: 1vmax;
	width: 20vw;
	padding: 1vmax;
}

.tiles{
	border: 2px solid black;
	background-color: var(--baseColor);
	height: 16vh;
	width: 25vh;
	margin: 1vh;
	padding: 0 4px;
	flex-shrink: 0;
}

.tiles:hover{
	border: 2px solid white;
}

.timg{
	width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	width: 1vmin;
	height: 1vmin;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: .5vmin;
  }
  ::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: .5vmin;
  }
  ::-webkit-scrollbar-button{
	color:rgba(0, 0, 0, 0);
	height: 0px;
	width: 0px;
  }